.footer-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  padding: 200px;
}
.footer-heading-container {
  display: flex;
  align-items: center;
  margin: 10px;
}
.footer-image {
  margin-top: 10px;
  margin-right: 20px;
  width: 70px;
  height: 50px;
}
.footer-heading {
  color: #ffffff;
  font-family: DM Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}
.footer-description {
  color: #ffffff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}
.icons-container {
  display: flex;
}
.footer-icon {
  color: #ffffff;
  margin: 20px;
  height: 40px;
  width: 40px;
}
